@font-face {
  font-family: 'Greycliff CF';
  font-weight: 600;
  src: url("assets/fonts/GreycliffCF-DemiBold.ttf") format("truetype"), url("assets/fonts/GreycliffCF-DemiBold.woff") format("woff"), url("assets/fonts/GreycliffCF-DemiBold.woff2") format("woff2"); }

body {
  margin: 0; }

h1 {
  font-family: 'Greycliff CF', sans-serif;
  color: #333333; }

p, span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #333333; }

.content-fade {
  opacity: 1; }

.mobileShow {
  display: none; }
  @media screen and (max-width: 425px) {
    .mobileShow {
      display: block; } }

.desktopShow {
  display: block; }
  @media screen and (max-width: 425px) {
    .desktopShow {
      display: none; } }

.header {
  position: absolute;
  z-index: 999;
  padding: 30px 30px;
  width: 65px;
  height: 65px; }
  .header .dropdown {
    margin-left: 16px;
    flex-direction: column;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: all 0.1s ease; }
    .header .dropdown a {
      margin-top: 25px;
      visibility: hidden;
      opacity: 0;
      position: relative;
      left: -10px;
      transition: all 0.1s ease;
      display: flex;
      align-items: center;
      text-decoration: none; }
      .header .dropdown a img {
        width: 35px; }
      .header .dropdown a span {
        display: flex;
        align-items: center;
        position: relative;
        left: 0px;
        visibility: hidden;
        transition: all 0.2s ease; }
      .header .dropdown a:hover {
        opacity: 1 !important; }
        .header .dropdown a:hover span {
          visibility: visible;
          left: 10px; }
  .header .logo img {
    width: 65px; }
  .header:hover .dropdown {
    visibility: visible;
    opacity: 1; }
    .header:hover .dropdown a {
      visibility: visible;
      opacity: 0.3;
      left: 0px; }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  flex-direction: column;
  width: 100vw; }
  .footer .social-navs {
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer .social-navs .icon {
      margin: 0px 5px;
      opacity: 0.3;
      transition: opacity 0.2s ease; }
      .footer .social-navs .icon img {
        width: 28px; }
      .footer .social-navs .icon:hover {
        opacity: 1; }
  .footer p {
    margin: 0;
    margin-top: 5px;
    opacity: 0.3;
    font-size: 0.8em; }
