body {
  opacity: 0;
  background-image: url("../assets/images/background2.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: opacity 0.5s ease; }

.main {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 200px; }
  @media screen and (max-width: 425px) {
    .main {
      padding: 0px;
      width: 100vw; } }
  .main .biography,
  .main .graph {
    width: 40%; }
  .main .biography h1 {
    font-size: 2.1em; }
  .main .biography p {
    font-size: 1.5em; }
