@tailwind base;

html, body {
  background-color: #333333;
}

h1 {
  font-family: 'Manrope';
  font-weight: 600;
}

h3 {
  font-family: 'Manrope';
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.overflow-x-scroll::-webkit-scrollbar {
  display: none;
}

@tailwind utilities;

.banner {
  height: calc(100vh - 104px);
}

*:focus {
  outline: none !important;
}

.mat-dialog-container {
  @apply bg-tertiary 
}