<div class="fixed top-0 right-0 z-20 mt-4 mr-4 md:mt-4 md:top-auto md:right-auto">
  <button
    mat-stroked-button color="accent"
    routerLink="/home"
    routerLinkActive="active">
    <mat-icon
      class="nav-icon"
      aria-hidden="false"
      aria-label="View Inbox"
      routerLink="/inbox"
      routerLinkActive="active">
      arrow_back
    </mat-icon>
    Head Back
  </button>
</div>
<div class="banner container my-5">
  <div class="w-full md:w-9/12 mx-auto mb-5">
    <h1 class="text-white text-xl mb-5">Career</h1>
    <div class="flex flex-wrap flex-col items-center justify-start md:flex-row">
      <app-project-card class="project-card w-full md:w-auto" *ngFor="let project of careers" [project]="project"></app-project-card>
    </div>
  </div>
  <div class="w-full md:w-9/12 mx-auto mb-5">
    <h1 class="text-white text-xl mb-5">Freelance Projects</h1>
    <div class="flex flex-wrap items-center justify-start">
      <app-project-card class="project-card" *ngFor="let project of freelances" [project]="project"></app-project-card>
    </div>
  </div>
  <div class="w-full md:w-9/12 mx-auto mb-10">
    <h1 class="text-white text-xl mb-5">Personal Projects</h1>
    <div class="flex flex-wrap items-center justify-start">
      <app-project-card class="project-card" *ngFor="let project of projects" [project]="project"></app-project-card>
    </div>
  </div>
</div>